<div class="wrapper">
  <h2>Registration</h2>
  <form action="#">
    <div class="input-box">
      <input type="text"[(ngModel)]="nom" [ngModelOptions]="{standalone: true}" placeholder="Nom" required>
    </div>
    <div class="input-box">
      <input type="text"[(ngModel)]="prenom" [ngModelOptions]="{standalone: true}" placeholder="Prenom" required>
    </div>
    <div class="input-box">
      <input type="email"[(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Email" required>
    </div>
    <div class="input-box">
      <input type="password"[(ngModel)]="mdp" [ngModelOptions]="{standalone: true}" placeholder="Mot de passe" required>
    </div>
    <div class="input-box">
      <input type="text"[(ngModel)]="cin" [ngModelOptions]="{standalone: true}" placeholder="Cin" required>
    </div>
    <div class="input-box button">
      <input type="Submit" value="Register Now" (click)="save()">
    </div>
    <div class="text">
      <h3>Already have an account? <a  [routerLink]="['/login']">Login now</a></h3>
    </div>
  </form>
</div>